client/node_modules
client/package-lock.json
service-communication/node_modules
service-communication/package-lock.json
service-rating/node_modules
service-rating/package-lock.json
service-ride-sharing/node_modules
service-ride-sharing/package-lock.json
