server {
	listen 80;
	
	location /api/drivers {
		proxy_pass http://${RIDE_SHARING_VARIABLE}:8080;
	}
	location /api/riders {
		proxy_pass http://${RIDE_SHARING_VARIABLE}:8080;
	}
	location /api/ratings {
		proxy_pass http://service-rating:8080;
	}
}
